{% extends "landingbase.html" %}
{% load staticfiles %}
{% block content %}
<!-- video -->
<div class="mobile">
	<div class="mobile-section">
		<div class="iphone">
			<img src={% static 'img/thm-gif-v.gif' %}>
		</div>

		{% comment %}
			<div class='v-link'>
				<span class='img'>
					<a  onclick='popup("video")'>
						<img src={% static 'img/v-link.png' %}></a>
					</span>


			</div>
		{% endcomment %}

		</div>
	</div>
	<!-- eo video -->

	<div class="contents">



		<div class="links">
			<ul>
				<li> <a href='#' onclick='popup("signin")'>Sign In</a> </li>
				<li> <a href="{% url 'faq' %}">FAQs</a> </li>
				<!-- <li> <a href="FAQ">Social</a> </li> -->
			</ul>

		</div>
		<footer>
			<div class="btn">
				<div class="register">
					Need some repairs done?<br>
				</div>

			</div><br>
			<span class="handyman handyman-sms">SMS</span>
			<span class="handyman handyman-sms">&nbsp;REPAIR&nbsp;</span>
			<span class="sms">to</span>
			<span class="handyman handyman-sms">&nbsp;2200</span><br><br>
			<span class="handyman">&#9990; 9801195400&nbsp;|&nbsp;01-5532225</span>
			<p>Our home repair experts will arrive at your doorsteps within hours.</p><br><br>
			<div class='sms'>** Carrier charges may apply on SMS</div>
			<span class="sms"><img src={% static 'img/cell.jpg' %}></span>


			<div class='social'>

				<ul>
					<li><a href='http://facebook.com/homerepairapp' target='_blank'> <img src={% static 'img/fb.png' %}></a></li>
					<li><a href='http://twitter.com/homerepairapp' target='_blank'> <img src={% static 'img/tw.png' %}></a></li>

				</ul>
			</div>
		</footer>
	</div>

	<!-- eo content -->


</div>
<!--Float right End-->

<!-- color bg -->
<div class='thm-bg'>
	<div class="thm-row one">
		<img src={% static 'img/bg-tr.png' %}>
	</div>

	<div class="thm-row two">
		<img src={% static 'img/bg-bl.png' %}>

	</div>

	<div class='thm-bar'>
		<div class="yellow-row">
			<div class='brand-small'>
				<a href="#top"><img class='logo small' src={% static 'img/logo.png' %}></a>
			</div>
		</div>
		<div class="black-row"></div>
	</div>


</div>





<!-- popup system -->

<div class="popupSystem">
	<div class='back-black'></div>

	<div class='popupContent'>

{% comment %}
	<!-- popup items -->
	<div class='video'>
		<div class='btn-bar'>
			<a href='#' class='close-btn'><img src={% static 'img/x.png' %}></a>
		</div>
		<div class='col-md-12'>
			<iframe width="560" height="315" src="//www.youtube.com/embed/B0qgzAq-ZII" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
	<!-- eo popup item1 -->
{% endcomment %}



		<!-- popup items -->
		<div class='signin'>
			<div class='btn-bar'>
				<a href='#' class='close-btn'><img src={% static 'img/x.png' %}></a>
			</div>
			<div class='col-md-12'>
				<div class='signin-form'>
					<form action="{% url 'signin' %}" method="post">{%csrf_token%}
						<ul>
							<li>
								<h2>Sign in here!</h2>
							</li><li>
								<input type='tel' name='phone' placeholder='+977 Mobile Number' onfocus="this.placeholder = ''" onblur="this.placeholder = '+977 Mobile Number'" class='dark_grey'>
							</li>
							<li>
								<input type='password' name='password' placeholder='Password' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" class='dark_grey'>
							</li>
							<li>
								<input type='submit' value='SIGN IN' class='signin-btn dark_grey' >
							</li>

						</form>
					</div>
				</div>
			</div>
			<!-- eo popup item1 -->



		</div>
		<!-- eo popupContent -->

	</div>

	<!-- eo popupsystem -->

{% endblock content %}
