{% extends "admin/base.html" %}
{% load staticfiles floppyforms %}
{% block localhead %}
{{user_form.media}}
{% endblock localhead %}
{% block content %}
<div class='page-container container list-table'>
	<h1><a href={% url 'home' %} class='link main-back'><</a></h1>

  <h1><span class='jobId'>User Details</span></h1>

    <div class="hora-job-form">
    <div class='row'>
        <div class="col-md-4">
            <form action="" method="post" enctype='multipart/form-data'>{% csrf_token %}
                <div class="form-group">
                  <label>Profile Picture</label><br>
                  <img src="{{user.get_profile_pic}}"></img><br>
                  {% if user.thumbnail_exists %}
                  <input id="profile_image-clear_id" name="profile_image-clear" type="checkbox">
                  <label for="profile_image-clear_id">Remove</label>
                  {% endif %}
                  <input id="id_profile_image" name="profile_image" type="file">
                  {{user_form.profile_image.errors}}
                </div>
                <div class="form-group">
                  <label>Name</label>
                  {{user_form.name}}
                  {{user_form.name.errors}}
                </div>
                <div class="form-group">
                  <label>Phone</label>
                  {{user_form.phone}}
                  {{user_form.phone.errors}}
                </div>
                <div class="form-group">
                  <label>City</label>
                  {{user_form.city}}
                </div>
                <div class="form-group">
                  <label>Streetadddress</label>
                  {{user_form.streetaddress}}
                </div>
        </div>
        <div class="col-md-8">
                <label>Location</label>
               {% widget user_form.address_coordinates %}
    </div>
    </div>
</div>
<button type="submit" class="btn btn-default submit">Update</button>
{% endblock content %}