

.invite input{width:100% !important;font-size: 52px;
padding: 30px !important;}

.invite input.btn{margin-top: 20px;}
h3.hf{font-size: 50px}
h1.hf{font-size:80px;}
.cloud-and-fence{margin:180px 0;}
.hf.btn, .popup-box .btn.submit{font-size: 32px;
padding: 40px;}

.popup-system > div.popup-box{width:90%;}
.popup-box h1{font-size:81px;}
.popup-box .tip{font-size:34px;}
.popup-box .question {
font-size: 72px;
line-height: 109px;
}
.popup-box .answer-list li{font-size: 42px}
.popup-box.thankyou input{width: 100%;
font-size: 45px;}