{% extends "admin/base.html" %}
{% block content %}
    <div class='page-container container landing-table'>
        <div class="hora-table">
            <a href="{%url 'createInventory'%}">
                <button class='table-job-check'>Create Inventory</button>
            </a>
        </div>
        <div class="hora-table">
            <a href="{%url 'distributeTool'%}">
                <button class='table-job-check'>Distribute Inventory</button>
            </a>
        </div>
        <div class="hora-table">
            <a href="{%url 'viewDistributionList'%}">
                <button class='table-job-check'>View Inventory Distribution</button>                
            </a>
        </div>

        <h1>Inventory List</h1>

        <div class="hora-table">
            
            <table id="example" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>InventoryId</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
         
                <tfoot>
                    <tr>
                        <th>InventoryId</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
         
                <tbody>

                    {% for inventory in inventories %}
                        <tr>
                            <td>{{inventory.id}}</td>
                            <td>{{inventory.name}}</td>
                            
                            <td>
                                <a href="{% url 'viewInventory' inventory_id=inventory.id %}"><button class='table-job-check'>Details</button></a>
                            </td>
                        </tr>                
                    {% endfor %}                
                </tbody>
            </table>

        </div>
        <!-- eo hora-table -->

    </div>
{% endblock content %}