{% extends "admin/base.html" %}
{% block content %}
    <div class='page-container container landing-table'>
        <h1>Recent Job list</h1>

    <div class="hora-table">
        
    <table id="example" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Job Type</th>
                    <th>Status</th>
                    <th>Remarks</th>
                    <th>Action</th>
                </tr>
            </thead>
     
            <tfoot>
                <tr>
                    <th>Date</th>
                    <th>Job Type</th>
                    <th>Status</th>
                    <th>Remarks</th>
                    <th>Action</th>
                </tr>
            </tfoot>
     
            <tbody>

            {% for job in jobs %}
                <tr>
                    <td>{{job.creation_date}}</td>
                    <td>{{job.get_jobtype_display}}</td>
                    <td>{{job.get_status_display}}</td>
                    <td>{{job.remarks}}</td>
                    <td>
                        <a href="{% url 'viewJob' job_id=job.jobref %}"><button class='table-job-check'>Details</button></a>
                    </td>
                </tr>                
            {% endfor %}                
            </tbody>
        </table>

    </div>
    <!-- eo hora-table -->

    </div>
{% endblock content %}