{% load staticfiles %}
<html>
	<head>
		<title>The Homerepair App | Reset Password</title>
		<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href={% static "css/bootstrap.css" %}>
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/responsive/1.0.3/css/dataTables.responsive.css">
		<link rel="stylesheet" href={% static "css/hora-admin.css" %}>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src={% static "js/bootstrap.js" %}></script>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-58270740-1', 'auto');
    ga('send', 'pageview');

    </script>
    {% block localhead %}          
    {% endblock localhead %}    
	</head>

<body>

	<div class="wrapper">
		
	<nav class="navbar navbar-default hora-nav">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href={% url 'home' %}><img src={% static "img/logo.png" %} class='hora-nav-brand'></a>
    </div>

  </div><!-- /.container-fluid -->
</nav>
<!-- eo nav -->


{% block content %}
    <div class='page-container container list-table'>
    <h1><a href={% url 'userSettings' %} class='link main-back'><</a></h1>

    	<h1><span class='jobId'>Reset Password</span></h1>

    <div class="hora-job-form">
    	<div class='row'>
    	<div class="col-md-6">

    <form action="{{reset_url}}" method="post">{% csrf_token %}

    {{user_form.as_p}}

    </div>
    	 </div>
    </div>
    <button type="submit" class="btn btn-default submit">Submit</button>
{% endblock content %}



	</div>



</body>
<script>
$(document).ready(function() {
    $('#example').DataTable( {
        responsive: true,
        "bFilter": false
    } );
} );
</script>
</html>