/* line 7, ../sass/hora-admin.scss */
body * {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

/* line 12, ../sass/hora-admin.scss */
input::-webkit-input-placeholder {
  color: #2c2d2d;
}

/* line 16, ../sass/hora-admin.scss */
input:-moz-placeholder {
  /* Firefox 18- */
  color: #2c2d2d;
}

/* line 20, ../sass/hora-admin.scss */
input::-moz-placeholder {
  /* Firefox 19+ */
  color: #2c2d2d;
}

/* line 24, ../sass/hora-admin.scss */
input:-ms-input-placeholder {
  color: #2c2d2d;
}

/* line 28, ../sass/hora-admin.scss */
a {
  color: #2c2d2d !important;
}
/* line 31, ../sass/hora-admin.scss */
a:hover, a:focus {
  background: #2c2d2d !important;
  color: #FFF !important;
}

/* line 37, ../sass/hora-admin.scss */
.link {
  text-transform: uppercase;
  opacity: 1;
}
/* line 41, ../sass/hora-admin.scss */
.link.main-back {
  color: #E9C01E !important;
  opacity: .9;
}
/* line 44, ../sass/hora-admin.scss */
.link.main-back:hover {
  text-decoration: none;
  opacity: 1;
}

/* line 51, ../sass/hora-admin.scss */
.btn-default {
  background-color: #E9C01E;
  font-weight: bold;
  color: #2c2d2d;
  border: none;
  font-size: 16px;
}
/* line 59, ../sass/hora-admin.scss */
.btn-default:hover {
  background-color: #E9C01E;
}
/* line 63, ../sass/hora-admin.scss */
.btn-default.submit {
  padding: 10px 15px;
  margin-bottom: 20px;
}

/* line 70, ../sass/hora-admin.scss */
.hora-nav {
  background: #E9C01E;
  box-shadow: 1px 0 12px rgba(0, 0, 0, 0.5);
  color: #2c2d2d;
  border-radius: 0;
  border: none;
}
/* line 77, ../sass/hora-admin.scss */
.hora-nav .hora-nav-brand {
  width: 40px;
}
/* line 82, ../sass/hora-admin.scss */
.hora-nav .hora-nav-search input[type=text] {
  border: none;
  background: none;
  border-bottom: 1px solid #2c2d2d;
  border-radius: 0;
  box-shadow: none;
  color: #2c2d2d;
}
/* line 91, ../sass/hora-admin.scss */
.hora-nav .hora-nav-search .hora-nav-search-btn {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

/* line 105, ../sass/hora-admin.scss */
.page-container h1 {
  text-transform: uppercase;
  color: #E9C01E;
  background: #2c2d2d;
  display: inline-block;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 33px;
}
/* line 116, ../sass/hora-admin.scss */
.page-container .hora-table {
  margin: 20px 0;
}

/* line 122, ../sass/hora-admin.scss */
table.dataTable.dtr-inline.collapsed tbody td:first-child:before, table.dataTable.dtr-inline.collapsed tbody th:first-child:before {
  background-color: #E9C01E;
  top: 12px;
  left: 4px;
  height: 20px;
  width: 20px;
  color: #FFF;
  line-height: 20px;
  border: none;
  box-shadow: none;
}

/* line 135, ../sass/hora-admin.scss */
table.dataTable.dtr-inline.collapsed tbody tr.parent td:first-child:before, table.dataTable.dtr-inline.collapsed tbody tr.parent th:first-child:before {
  background-color: #2c2d2d;
}

/* line 138, ../sass/hora-admin.scss */
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background: #E9C01E !important;
  border: none;
  background-color: #2c2d2d;
}

/* line 149, ../sass/hora-admin.scss */
.double-input {
  overflow: hidden;
}
/* line 152, ../sass/hora-admin.scss */
.double-input .ip-form {
  width: 85%;
  float: left;
}
/* line 156, ../sass/hora-admin.scss */
.double-input .ip-btn {
  width: 10%;
  float: left;
  padding: 4px;
  border-radius: 5px;
  border: none;
  margin-left: 5px;
  background: #E9C01E;
  font-weight: bold;
  font-size: 20PX;
}

.map  {
  width: 750px;
  height: 500px;
}
