{% extends "admin/base.html" %}
{% load staticfiles %}
{% block localhead %}
  {{ job_form.media }}
<link rel="stylesheet" href={% static "css/jobcarousel.css" %}>
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/dark-hive/jquery-ui.css" id="theme">
<link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
<link rel="stylesheet" href={% static "css/jquery.fileupload.css" %}>
<link rel="stylesheet" href={% static "css/jquery.fileupload-ui.css" %}>
<!-- CSS adjustments for browsers with JavaScript disabled -->
<noscript><link rel="stylesheet" href={% static "css/jquery.fileupload-noscript.css" %}></noscript>
<noscript><link rel="stylesheet" href={% static "css/jquery.fileupload-ui-noscript.css" %}></noscript>
{% endblock localhead %}
{% block content %}
<div class='page-container container list-table'>
	<h1><a href={% url 'home' %} class='link main-back'><</a></h1>

	<h1>Job <span class='jobId'>#{{job.id}}</span>
	</h1>

	<div class="hora-job-form">
		<div class='row'>
		<div class="col-md-4">
			<form action="" method="post">{% csrf_token %}
				{{job_form.as_p}}

				<button type="submit" class="btn btn-default submit">Update</button><br>
			</form>
		</div>
			{% if job_before or job_after %}
			{% if job_before %}
			<div class="col-md-8">
				<div class="carousel slide" id="myCarouselBefore">
					<div class="carousel-inner">
						{% for img in job_before  %}
						{% if forloop.first %}
							<div class="item active">
						{% else %}
							<div class="item">						
						{% endif %}
							<div class="bannerImage">
								<a href="#"><img src="{{img.get_img_url}}" alt=""></a>
							</div>
							<div class="caption row-fluid">
							    <div class="span4"><h3>Before</h3>
							    </div>                	
							</div>

						</div><!-- /Slide1 --> 
						{% endfor %}

					</div>

					<div class="control-box">                            
						<a data-slide="prev" href="#myCarouselBefore" class="jcarousel-control-prev">‹</a>
						<a data-slide="next" href="#myCarouselBefore" class="jcarousel-control-next">›</a>
					</div><!-- /.control-box -->   

				</div><!-- /#myCarousel -->
				{% endif %}
				{% if job_after %}
				<div class="carousel slide" id="myCarouselAfter">
					<div class="carousel-inner">
						{% for img in job_after  %}
						{% if forloop.first %}
							<div class="item active">
						{% else %}
							<div class="item">						
						{% endif %}
							<div class="bannerImage">
								<a href="#"><img src="{{img.get_img_url}}" alt=""></a>
							</div>
							<div class="caption row-fluid">
							    <div class="span4"><h3>After</h3>
							    </div>                	
							</div>


						</div><!-- /Slide1 --> 
						{% endfor %}

					</div>

					<div class="control-box">                            
						<a data-slide="prev" href="#myCarouselAfter" class="jcarousel-control-prev">‹</a>
						<a data-slide="next" href="#myCarouselAfter" class="jcarousel-control-next">›</a>
					</div><!-- /.control-box -->   

				</div><!-- /#myCarousel -->
				{% endif %}
				<form action={% url 'uploadJobPhotos' job_id=job.jobref %} method="POST" enctype="multipart/form-data">{% csrf_token %}
				<div class="col-md-8">
					    <!-- The fileinput-button span is used to style the file input field as button -->
					    <div class="col-md-6">
					    	{{img_form.img_type}}
					    </div>
					    <div class="col-md-6">
					    	<span class="btn btn-success fileinput-button">
					    	    <i class="glyphicon glyphicon-plus"></i>
					    	    <span>Upload the before/after photos here</span>
					    	    <!-- The file input field used as target for the file upload widget -->
					    	    <input id="fileupload" type="file" name="image" multiple>
					    	</span>
					    </div>
				</div>
				</form>
			</div>
			{% else %}
			<form action={% url 'uploadJobPhotos' job_id=job.jobref %} method="POST" enctype="multipart/form-data">{% csrf_token %}
			<div class="col-md-8">
				    <!-- The fileinput-button span is used to style the file input field as button -->
				    <div class="col-md-6">
				    	{{img_form.img_type}}
				    </div>
				    <div class="col-md-6">
				    	<span class="btn btn-success fileinput-button">
				    	    <i class="glyphicon glyphicon-plus"></i>
				    	    <span>Upload the before/after photos here</span>
				    	    <!-- The file input field used as target for the file upload widget -->
				    	    <input id="fileupload" type="file" name="image" multiple>
				    	</span>
				    </div>
			</div>
			</form>
			{% endif %}
		</div>
	</div>
	<!-- eo hora-job-form -->
</div>
{% endblock content %}
{% block scripts %}
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src={% static "js/jquery.iframe-transport.js" %}></script>
<!-- The basic File Upload plugin -->
<script src={% static "js/jquery.fileupload.js" %}></script>
<script>
/*jslint unparam: true */
/*global window, $ */
$(function () {
    'use strict';
    // Change this to the location of your server-side upload handler:
    var url = "{% url 'uploadJobPhotos' job_id=job.jobref %}";
    $('#fileupload').fileupload({
        url: url,
        dataType: 'json',
        done: function (e, data) {
            $.each(data.result.files, function (index, file) {
                $('<p/>').text(file.name).appendTo('#files');
            });
        },
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .progress-bar').css(
                'width',
                progress + '%'
            );
        }
    }).prop('disabled', !$.support.fileInput)
        .parent().addClass($.support.fileInput ? undefined : 'disabled');
});
</script>
{% endblock scripts %}