{% extends "admin/base.html" %}
{% load staticfiles %}
{% block content %}
<div class='page-container container list-table'>
    <h1><a href={% url 'home' %} class='link main-back'><</a></h1>

    <h1><span class='jobId'>Commission:&nbsp;&nbsp;</span><span id="estimatedCommission" class='jobId'>{{estimatedCommission|default:'0'}}</span></h1>

    <div class="hora-job-form">
        <div class='row'>
            <div class="col-md-6">

                <form id="myForm" action="" method="post">{% csrf_token %}
                    {{commission_form.as_p}}
            </div>
        </div>
    </div>
        <button id="myFormSubmit" type="submit" class="btn btn-default submit">Calculate</button>
        <!-- eo price-calculation-form -->
</div>
{% endblock content %}